using Unity.Entities;

namespace {{NAMESPACE}}
{
    [System.Serializable]
    public struct {{CLASSNAME}} : IComponentData
    {

    }

    [System.Serializable]
    public class {{CLASSNAME}}Component : ComponentDataWrapper<{{CLASSNAME}}>
    {

    }
}