using Unity.Entities;

namespace {{NAMESPACE}}
{
    [System.Serializable]
    public struct {{CLASSNAME}} : ISharedComponentData
    {

    }

    [System.Serializable]
    public class {{CLASSNAME}}Component : SharedComponentDataWrapper<{{CLASSNAME}}>
    {

    }
}