using Unity.Burst;
using Unity.Collections;
using Unity.Entities;
using Unity.Jobs;
using Unity.Mathematics;
using UnityEngine;

namespace {{NAMESPACE}}
{
    [BurstCompile]
    public struct {{CLASSNAME}} : IJob
    {
        float dt;

        public {{CLASSNAME}} (
            float dt
        )
        {
            this.dt = dt;
        }

        public void Execute ()
        {

        }
    }
}
